<p><%= link_to "< Back to all Powers", powers_path %></p>
<h1><%= @power.name %></h1>
<ul>
  <li>Description: <%= @power.description %></li>
</ul>
<h2>Heroines with Given Power:</h2>
<ul>
  <% @heroines.each do |heroine| %>
    <li><%= link_to heroine.name, heroine %></li>
  <% end %>
</ul>

<%= link_to "Edit Power", edit_power_path %>
<%= link_to "Delete Power", @power, :method => "delete" %>