<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @power.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @power.description %>
</p>

<p>
  <strong>Heroines with this power:</strong>
  <% @heroines.select do |heroine| %>
    <% if heroine.power_id == @power.id %>
      <li><%= heroine.name %></li>
    <% end %>
  <% end %>
</p>



<%= link_to 'Edit', edit_power_path(@power) %> |
<%= link_to 'Back', powers_path %>
