<h2>All Heroines</h2>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search by power:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>
<%= link_to 'All Powers', powers_path %><br>
<%= link_to 'Create Heroine', new_heroine_path %><br>
<%= link_to 'Back', :back %>