<h2>Make-A-Heroine</h2>


  <%= form_with model: Heroine.new do |form|%>
  <div><label>Name: </label> <%= form.text_field :name %></div>
  <div><label>Super Name: </label> <%= form.text_field :super_name %></div>
  <div><label>Power: </label> <%=select(:heroine, :power_id, Power.all.collect {|p| [ p.name, p.id ] }, { include_blank: true })%></div>

  <%= form.submit %>
  <% end %>
