<p>Name: <%= @heroine.name %></p>
<p>Super Name: <%= @heroine.super_name %></p>
<p>Power: <%= link_to @heroine.power.name, @heroine.power %></p>

<%= link_to 'All Heroines', heroines_path %><br>
<%= link_to 'Back', :back %>